.dugme {

    box-shadow: 6px 6px 7px rgba(0,0,0,0.3);
    float: right;
    top: 100%;
    background: #68decd;
    color:#fff;
    font-size:1.2rem;
    font-weight: bold;
    font-family:Futura;
    padding: 1rem 2rem;
    text-decoration: none;

}

.btn {

      text-align: center;
      box-shadow: 6px 6px 7px rgba(0,0,0,0.3);
      background: #68decd;
      color:#fff;
      font-weight: bold;
      font-family:Futura;
      font-size:1.2rem;
      padding: 1rem 2rem;
      text-decoration: none;
      font-size: 16px;


}