body {
    background: url(https://www.tokkoro.com/picsup/2638113-gradients-4k-best-hd-wallpaper-for-pc-free-download.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}